@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgba(29, 32, 41, 1);
  color: #f0f4ff;
  font-family: "IBM Plex Sans", sans-serif;
}

@layer components {
  .neon-border {
    @apply border border-electric-blue/20 shadow-[0_0_10px_rgba(0,245,255,0.1)];
  }

  .gradient-text {
    @apply bg-gradient-to-r from-electric-blue to-cyber-purple text-transparent bg-clip-text;
  }
}
